@font-face {
    font-family: 'OneShot';
    src: url('oneshot-font.ttf');
}

body {
    font-family: 'OneShot', sans-serif;
    color: white;
}

div#screen {
    /* display on top of the page */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 4;

    transition: .3s ease-in-out;
}

img#niko {
    padding-top: 50px;
}

div#screen button {
    all: unset;

    color: white;
    font-weight: bolder;

    text-decoration: underline;



    /* place on the exact center of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#offerings {
    opacity: 0;
    display: none;
    transition-duration: 0.5s;
}

div#wm_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.299) 75%, rgba(0, 0, 0, 0) 100%);

    z-index: 2;
    transition: .5s ease-in-out;
}

span#wm_dialouge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    font-size: 24px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    border-style: solid;
    border-image-source: url("/img/nikoborder.png");
    border-image-slice: 10;
    border-image-width: 10px;
    background-color: rgb(20, 10, 25);
    border-radius: 10px 10px 10px 10px;
    padding: 35px 25px 25px 25px;
    width: 50%;
    min-width: 600px;
    max-width: 800px;
    height: auto;
    min-height: 75px;
    background-color: #140A19;
    text-align: center;

    margin: 0 auto;
    margin-bottom: 5px;
  }

@media screen and (max-width: 600px) {
    main {
        width: 100%;
        min-width: 100%;
        height: auto;
        min-height: 75px;
        margin: 0 auto;
    }
}


html { background-color: #100b17; background-image: none; cursor: auto }


footer {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 12px;
}

a {
    color: white;
}

li {
    list-style-type: none;
}


#ach_container {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 50px;
    width: 300px;
    background-color: #100b17b9;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    border-style: solid;
    border-image-source: url(/img/nikoborder.png);
    border-image-slice: 10;
    border-image-width: 10px;

    z-index: 10;
    padding: 10px;
    border-radius: 10px;

    transition: .5s opacity ease-in-out;
}

#ach_icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    viewport-fit: contain;
    border-radius: 5px;
    margin-right: 5px;
}

#ach_subtitle {
    font-size: 16px;
    display: inline-block;
    position: absolute;
}

#ach_title {
    font-size: 24px;
    display: inline-block;
    position: absolute;
    top: 24px;
}


