@font-face {
    font-family: 'OneShot';
    src: url('oneshot-font.ttf');
}

body {
    font-family: 'OneShot', sans-serif;
    color: white;
}

div#screen {
    /* display on top of the page */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;

    transition: .3s ease-in-out;
}

img#niko {
    padding-top: 50px;
}

div#screen button {
    all: unset;

    color: white;
    font-weight: bolder;

    text-decoration: underline;



    /* place on the exact center of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    border-style: solid;
    border-image-source: url("/img/nikoborder.png");
    border-image-slice: 10;
    border-image-width: 10px;
    background-color: rgb(20, 10, 25);
    border-radius: 10px 10px 10px 10px;
    padding: 10px 15px 10px 15px;
  }


html { background-color: #140A19; background-image: none; cursor: auto }
main {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 40%;
height: 50%;
background-color: rgb(20, 10, 25);
text-align: center;
}
main {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin: 0;
}

footer {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 16px;
}

a {
    color: white;
}

li {
    list-style-type: none;
}
