.onespeech {
  border-style: solid;
  border-image-source: url("/img/nikoborder.png");
  border-image-slice: 10;
  border-image-width: 10px;
  background-color: rgb(20, 10, 25);
  border-radius: 10px 10px 10px 10px;
  padding: 10px 15px 10px 15px;
}

@font-face {
  font-family: "Terminus";
  src: url("/img/Terminus.ttf");
}
html {
  font-family: "Terminus", sans-serif;
  color: white;
  background-image: url("https://sadhost.neocities.org/images/tiles/azulestrellas.gif");
  background-color: purple;
  cursor: url("https://litdevs.org/vsite/sus2.png"), auto;
  height: 100%;
  width: 100%;
}

a { color: lime }
a:visited { color: white }
a, a img, .forcehover { cursor: url("https://litdevs.org/vsite/sus.png"), auto; }
.flip { transform: scaleX(-1); }

/* steam achievements */
/* from https://codepen.io/fuzzalicious/pen/qVrapg. thanks! */
.ach-wrap {
  position: fixed;
  bottom: 0;
  right: 0;
  overflow-y: hidden;
}
.ach {
  width: 256px;
  height: 100px;
  background-color: #30302e;
  line-height: 100px;
  animation: 3s ease 0s 1 slideInFromBottom;
  background: linear-gradient(#292D33, #121a2a);
}
.ach span {
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
}
.ach span span {
  color: gray;
}
.ach-icon {
  width: 68px;
  height: 68px;
  float: left;
  margin: 16px;
  line-height: 70px;
  text-align: center;
}
.ach-icon img { width: 68px; height: 68px }
@keyframes slideInFromBottom {
  0% {transform: translateY(100%);}
  10% {transform: translateY(0%);}
  90% {transform: translateY(0%);}
  100% {transform: translateY(100%);}
}